@import 'tailwindcss';
@import './fonts.css';
@import './border.css';

:root {
  --afi-pink: #e68699;
  --afi-purple: #5e366e;
}

@theme inline {
  --color-background: black;
  --color-pink: var(--afi-pink);
  --color-purple: var(--afi-purple);
  --font-serif: 'Big Caslon FB', serif;
}

html,
body {
  height: 100%;
}

body {
  background: black;
  color: var(--color-pink);
  font-family: var(--font-serif);
  height: 100%;
}
